<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Snore Feeds</title>
    <style>
      {% include "style" %}
    </style>
  </head>
  <body>
    {% include "nav" %}

    {% block content %}{% endblock content %}

      <footer>
      </footer>
  </body>
</html>
